<div id="home-background">
  <div>
    <div id="background-transition">
      <div id="background-inner">
        <img class="transition flip"  ngSrc="assets/img/peakpx(6).jpg" alt="background-1" height="800" width="1200">
        <img class="transition flipInX" ngSrc="assets/img/peakpx(7).jpg" alt="background-2" height="665" width="1000">
        <img class="transition flipInX" ngSrc="assets/img/teahub.io-wallpaper-estrada-3492308.jpg" alt="background-3" height="410" width="728">
      </div>


    </div>
    <div id="background-img">
                <span id="col-1" class="col">
                    <ul>
                        <li class="img"></li>
                        <li class="no-img"></li>
                    </ul>
                </span>
      <span id="col-2" class="col">
                    <ul>
                        <li class="img"></li>
                        <li class="no-img"></li>
                    </ul>
                </span>
      <span id="col-3" class="col">
                    <ul>
                        <li class="img"></li>
                        <li class="no-img"></li>
                    </ul>
                </span>
      <span id="col-4" class="col">
                    <ul>
                        <li class="img"></li>
                        <li class="img"></li>
                        <li class="no-img"></li>
                    </ul>
                </span>
      <span id="col-5" class="col">
                    <ul>
                        <li class="no-img"></li>
                        <li class="img"></li>
                        <li class="img"></li>
                    </ul>
                </span>
      <span id="col-6" class="col">
                    <ul>
                        <li class="no-img"></li>
                        <li class="img"></li>
                    </ul>
                </span>
    </div>
  </div>

</div>
