<div id="main-container">
  <header>
    <section id="head-section">
      <div id="logo" routerLink=""><img src="assets/img/logo3.png" ></div>
      <div id="home-nav">
        <ul id="home-tags">
          <li class="tags" routerLink="">
            <a>Home</a>
          </li>
<!--          <li class="tags" (click)=about()>-->
          <li class="tags">
            <a>About Us</a>
          </li>
<!--          <li class="tags" (click)=whySolar()>-->
          <li class="tags">
            <a>Events</a>
          </li>
          <li class="tags">
            <a>Our Products</a>
          </li>
          <li class="tags">
            <a>Gallery</a>
          </li>
<!--          <li class="tags" (click)=contact()>-->
          <li class="tags">
            <a>Contact</a>
          </li>
        </ul>
      </div>

    </section>
    <section id="contact-section">
      <div>
        <a href="#" id="whatsapp"></a>
        <a href="#" id="facebook"></a>
        <a href="#" id="twitter"></a>
        <a href="#" id="instagram"></a>
        <a href="#" id="linkedin"></a>
      </div>
    </section>
  </header>

</div>
