<div id="main-container">
  <header>
    <section id="head-section">
      <div id="logo" routerLink=""><img src="assets/img/logo3.png" ></div>
      <div id="home-nav">
        <ul id="home-tags">
          <li class="tags" routerLink="">
            <a>Home</a>
          </li>
<!--          <li class="tags" (click)=about()>-->
          <li class="tags">
            <a>About Us</a>
          </li>
<!--          <li class="tags" (click)=whySolar()>-->
          <li class="tags">
            <a>Why Solar</a>
          </li>
          <li class="tags">
            <a class="drop-down">Our Services</a>
            <div class="menu-container">
              <div class="invisible-line"></div>
              <div class="menu">
<!--                <ul (click)=ourServices()>-->
                <ul>
                  <li>Free Inspection</li>
                  <li>Energy Auditing</li>
                  <li>Troubleshooting</li>
                  <li>Consulting</li>
                  <li>Cleaning</li>
                </ul>
              </div>
            </div>
          </li>
          <li class="tags">
            <a class="drop-down">Gallery</a>
            <div class="menu-container">
              <div class="invisible-line"></div>
              <div class="menu">
<!--                <ul (click)=gallery()>-->
                <ul>
                  <li>Off-Grid PV Systems</li>
                  <li>On-Grid PV Systems</li>
                  <li>Power Backup Systems</li>
                </ul>
              </div>
            </div>
          </li>
<!--          <li class="tags" (click)=contact()>-->
          <li class="tags">
            <a>Contact</a>
          </li>
        </ul>
      </div>

    </section>
    <section id="contact-section">
      <div>
        <a href="#" id="whatsapp"></a>
        <a href="#" id="facebook"></a>
        <a href="#" id="twitter"></a>
        <a href="#" id="instagram"></a>
        <a href="#" id="linkedin"></a>
      </div>
    </section>
  </header>
  <main>

  </main>
  <footer></footer>
</div>
